asgiref
asttokens
certifi
charset-normalizer
colorama
comm
contourpy
coverage
cycler
debugpy
decorator
Django
django-admin
django-cors-headers
django-excel-response2
django-six
djangorestframework
djangorestframework_simplejwt
drf-yasg
excel-base
executing
faiss-cpu
filelock
fonttools
fsspec
huggingface-hub
idna
inflection
iniconfig
ipykernel
ipython
isoweek
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kagglehub
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy
packaging
pandas
parso
pillow
platformdirs
pluggy
prompt_toolkit
psutil
pure_eval
Pygments
PyJWT
pyparsing
pytest
pytest-cov
pytest-django
python-dateutil
python-dotenv
pytz
pywin32
PyYAML
pyzmq
regex
requests
safetensors
scikit-learn
scipy
screen
six
sqlparse
stack-data
sympy
threadpoolctl
TimeConvert
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
wcwidth
xlwt
